@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  margin: 0 auto;
  text-align: center;
}


p,
h2,
h3 {
  color: "#16356a";
}

.bgBlue {
  background-color: "#16356a";
}

.textBlue {
  color: "#16356a";
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}